<header>
  <!--  Nav Bar Menu Navigation -->
    <div class="nav-bar">
      <nav>
        <ul>
          <li><a class="nav-bar" routerLink="/home">Home</a></li>
          <li><a class="nav-bar" routerLink="/list-freinds">Friends</a></li>
          <li><a class="nav-bar" routerLink="/one-friend">One-User</a></li>
          <li><a class="nav-bar" routerLink="/user-input">User</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>

    </div>
   <nav>
    <div class="logo">
        <a class="header" routerLink="/"></a>
          <a href="#">C.G</a>
      </div>
    </nav>
</header>

